
<div class="container">
  <div class="row">
    <h3 class="bg-light"><%= @worker.name %>さんの詳細ページ</h3>
  </div>
  <div class="row">
    <table class="table  table-borderless">
  <tr>
    <td>会員ID</td>
    <td><%= @worker.id %></td>
  </tr>
  <tr>
    <td>氏名</td>
    <td><%= @worker.name %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @worker.email %></td>
  </tr>
   </table>
   <%= link_to "退会させる", worker_hide_path(@worker.id), method: :put %>
  </div>
</div>