<div class="container mt-4 align-imtes-center">
    <div class="row">
        <div class="col-md-5">
            <%= image_tag '24939936_l.jpg', width: '500px', height: '380px' %>
       </div>
        <!--<div class= "col-md-2 btn btn-default mx-5 my-3 py-5" style="background-color:#B4DADE"><%= link_to "レシピ登録", new_worker_recipe_path,method: :get %></div>-->
        <!--<div class= "col-md-3 btn btn-default mx-5 my-3 py-5" style="background-color:#C6C1F7"><%= link_to "レシピ一覧", worker_recipes_path,method: :get %></div>-->
        <!--<div class= "col-md-3 btn btn-default mx-5 my-3 py-5" style="background-color:#EBCAE4"><%= link_to "ジャンル一覧", worker_genres_path,method: :get %></div>-->
        <!--<div class= "col-md-3 btn btn-default mx-5 my-3 py-5" style="background-color:#BCF5BF"><%= link_to "商品案登録", new_worker_idea_path,method: :get %></div>-->
        <!--<div class= "col-md-3 btn btn-default mx-5 my-3 py-5" style="background-color:#EBE7B2"><%= link_to "商品案一覧", worker_ideas_path,method: :get %></div>-->
     <div class="row menu">
        <div class="col-md-10">
            <%= image_tag 'RecetteLogo.jpg', width: '200px', height: '200px' %></div>
            <div class=" col-md-5 py-3">
        <div class= "mx-5 border-arrange1"><%= link_to "レシピ登録", new_worker_recipe_path,method: :get %></div><br>
        <div class= "mx-5 border-arrange1"><%= link_to "レシピ一覧", worker_recipes_path,method: :get %></div><br>
        <div class= "mx-5 border-arrange1"><%= link_to "ジャンル一覧", worker_genres_path,method: :get %></div><br>
        <div class= "mx-5 border-arrange1"><%= link_to "商品案登録", new_worker_idea_path,method: :get %></div><br>
        <div class= "mx-5 border-arrange1"><%= link_to "商品案一覧", worker_ideas_path,method: :get %></div>
        </div>
        </div>
    </div>
</div>