<div class="container mt-4 align-imtes-center">
    <div class = "row">
        <div class= "col-4 bg-info"><%= link_to "ルセット登録", new_worker_recipe_path,method: :get %></div>
        <div class= "col-4 bg-"><%= link_to "ルセット一覧", worker_recipes_path,method: :get %></div>
        <div class= "col-4 bg-"><%= link_to "ジャンル一覧", worker_genres_path,method: :get %></div>
        <div class= "col-4 bg-"><%= link_to "商品案登録", new_worker_idea_path,method: :get %></div>
        <div class= "col-4 bg-"><%= link_to "商品案一覧", worker_ideas_path,method: :get %></div>
    </div>
</div>