<div class="container">
  <div class="row">
      <h4 class="col-lg-auto bg-light text-center">商品案一覧</h4>
  </div>


      <div class="row justify-content-lg-center">
        <table class="table table-borderless table-hover table-inverse border-top border-bottom">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th>作成日</th>
              <th>商品名</th>
              <th >作成者</th>
            </tr>
          </thead>

          <tbody>
            <% @ideas.each do |idea| %>
            <tr>
              <td><%= image_tag idea.get_idea_image(200, 200) %></td>
              <td><%= idea.created_at.strftime('%Y/%m/%d ') %></td>
              <td><%= link_to idea.name, worker_idea_path(idea) %></td>
              <td><%= idea.worker.name %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @ideas %>

      </div>
</div>