<!DOCTYPE html>
<html>
  <head>
    <title>るせっと</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="navbar-nav ml-auto">
          <% if worker_signed_in? %>
          <li class="nav-item active">
              <%#= link_to "ルセット登録", new_worker_worker_recipe_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%#= link_to "ルセット一覧", worker_worker_recipes_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "商品案一覧", worker_ideas_index_path,method: :get, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "ログアウト", destroy_worker_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% end %>
    </header>
    <%= yield %>
  </body>
</html>
