<div class="container">
  <div class="row justify-content-lg-center">
      <div class="col-3">
          <%= render "worker/recipes/side_bar",recipe:@recipe %>
      </div>
  <div class="col-9 mt-3 mb-3">
    <h4>レシピ一覧(全<%=@recipes.count %>件)</h4>
      <div class="row row-cols-1 row-cols-md-4 g-4">
      <% @recipes.each do |recipe| %>
          <div class="mr-1">
             <div class="card text-center border-info mb-3 h-100" style="width: 15rem;">
              <div class="card-body">
                  <%= link_to worker_recipe_path(recipe.id) do %>
                    <p class="card-text"><%= image_tag recipe.get_recipe_image(200, 200) %></p>
                    <p class="card-text"><%= recipe.name %></p>
                  <% end %>
              </div>
             </div>
          </div>
      <% end %>
      </div>
  </div>
       <div class="row justify-content-lg-center">
       <%= paginate @recipes %>
       </div>
  </div>
</div>