<div class="container mt-4 align-imtes-center">
     <% @recipe.points.each do |point| %>
     <i class="fas fa-exclamation-triangle"></i> <%= point.point %>
     <% end %>
<h3><%= @recipe.name %></h3>
     <div class="row">
          <div class="col-md-4">
               <%= image_tag @recipe.get_recipe_image(200, 200), class: 'img-fluid' %>
          </div>
          <div class="col-md-8">
               <h4>材料</h4>
               <!--<table class="table">-->
               <div class="row">
                    <% @recipe.ingredients.each do |ingredient| %>
                         <!--<tr>-->
                         <!--     <th><%= ingredient.name %></th>-->
                         <!--     <td><%= ingredient.quantity %></td>-->
                         <!--</tr>-->
                         <div class="col-md-6"><%= ingredient.name %></div>
                         <div class="col-md-6"><%= ingredient.quantity %></div>
                    <% end %>
               </div>
               <!--</table>-->
          </div>
     </div>

     <div>
       <h4>商品説明</h4>
       <%= @recipe.explanation %>
     </div>
     <div>
       <h4>作り方</h4>
          <% @recipe.procedures.each do |procedure| %>
               <div class="col-md-6"><%= (@total += 1) %>.<%= procedure.procedure %></div>
          <% end %>
     </div>
     <div class="row">
          <div class="col-md-8 offset-5">
               <%= link_to '編集する', edit_worker_recipe_path, class: "btn btn-success" %>
          </div>
     </div>
               <!--コメント-->
    <div class="row">

      <div class="col-md-8 offset-4">
        <%= form_with model: [@recipe, @point], url: worker_recipe_points_path(@recipe) do |f| %>
          <%= f.text_area :point, rows: '5', placeholder: "注意点" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
</div>