<h3>ルセット詳細</h3>
   <%= recipe.name %>
     <%= image_tag @recipe.get_recipe_image(200, 200) %>
     <div>
       <p><材料></p>
       <%= @recipe.ingredient %>
     </div>
     <div>
       <p><商品説明></p>
       <%= @recipe.explanation %>
     </div>
     <div>
       <p><作り方></p>
       <%= @recipe.procedure %>
     </div>
     
    
     